@charset "utf-8";
/* CSS Document */

body{
	background-color:#000;
}

#main{
	background-color:#000;
	color:#fff;
	width:960px;
	margin:auto;
	margin-top:50px;
}
#header{
	font-family:"Helvetica", "Arial", "Sans-Serif";
	text-align:center;
	font-size:2em;
	font-weight:bold;
	color:#029DE0;
}
#video-container{
	max-height:365px;
	max-width:480px;
	overflow:hidden;
	display:block;
	height:365px;
	width:480px;
	margin:0 auto;
}
#video1{
	border:2px solid #fff;
	z-index:100;
	position:absolute;
	top:120px;
	overflow:hidden;
	max-height:365px;
	max-width:480px;
}

#video2{
	border:2px solid #fff;
	z-index:101;
	position:absolute;
	top:120px;
	overflow:hidden;
	max-height:365px;
	max-width:480px;
}

#video3{
	border:2px solid #fff;
	z-index:102;
	position:absolute;
	top:120px;
	overflow:hidden;
	max-height:365px;
	max-width:480px;
}

#video4{
	border:2px solid #fff;
	z-index:104;
	position:absolute;
	top:120px;
	overflow:hidden;
	max-height:365px;
	max-width:480px;
}

#description{
	font-size:0.8em;
	margin:auto;
	width:480px;
	color:#fff;
	font-family:"Helvetica", "Arial", "Sans-Serif";
}


